:root {
    --button-primary-background:#292929;
}


.btn {
    background-color: var(--button-primary-background);
    padding: .5rem 2rem;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
}


.btn-tab-close{
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.btn-tab-close span{
    width: 20px;
    height: 20px;
}