.btn{
    padding: 1rem 2rem;
    /* margin: 2rem 0; */
    border-radius: 100rem;
    background:transparent;
    outline: none;
    border: 2px solid #0E2954;
    position: relative;
    overflow: hidden;
}



.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0E2954;
    z-index: -1;
    transition: all .2s;
}


.btn:active,
.btn:hover{
    color: white;
}


.btn:hover::after,
.btn:active::after {
    width: 100%;
}

/* .btn:hover,
.btn:active{
    border: none;
    outline: none;
} */