* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    margin-top: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}

.image-file {
    display: none;
}

.image-resizer{
    
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    margin: auto;
    position: relative;
    /* margin-top: 200px; */
}

.controller{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--target-width);
    height: var(--target-height);
    overflow: hidden;
    transition: height .1s;
    resize: both;
    cursor: move;
}


.new-image{
    position: absolute;
    width: var(--width);
    height: var(--height);
    /* left: -2rem; */
    top: 0;
}

.og-image{
    width: var(--width);
    height: var(--height);
    filter: brightness(.2);
}

.controller{
    /* filter: drop-shadow(0,100px,2000px,black); */
}

.controller button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%,50%);
    z-index: 200000;
}

.top-dragger{
    position: absolute;
    /* top: 10px; */
    top: 30px;
    /* transform: translateY(-20px); */
    left: 0;
    width: var(--target-width);
    height: 10px;
    background-color: green;
    z-index: 600000 ;
}





.cropper-actions button{
    margin: 2rem 0;
}