
:root{
    --main-background-color:#1B1B1B;
    --sidebar-background-color:#202020;
    --tabs-background-color:#202020;    
    --active-tab-background-color:#0b0a0a;
}

*{
    margin: 0;
    padding: 0;
    color: white;
}

html {
    font-family: 'Roboto';
}

body {
    background-color: var(--main-background-color);
    font-family: inherit;    
}


#root{
    display: flex;
    justify-content: space-between;
}


/* Side bar */

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    background-color: var(--sidebar-background-color);
    padding-right: 2rem;
    width: 10%;
}

.sidebar > * {
    margin-left: 1rem;
}



/* Work Content */
.content{
    width: 90%;
}

/* Tabs */
.tabs{
    padding: 1.2rem 0;
    display: flex;
    /* justify-content: space-between; */
    background-color: var(--tabs-background-color);
    overflow-y: hidden;
}

.tab{
    margin: 0 .5rem 0 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    
}

.tab::before{
    content: '';
    height: 300%;
    position: absolute;
    width: 1px;
    right: 0;
    transform: translateX(10px) translateY(5px);
    background-color: white;
}


.tab button{
    margin-left: 1rem;
}
/* 
.tab:first-child {
    margin-left: 1rem;
} */

.tab-active{
    z-index: 100;
    background-color: transparent;
}

.tab-active::after{
    content: '';
    padding: 1rem;
    height: 250%;
    position: absolute;
    width: 100%;
    right: 0;
    transform: translateX(10px) translateY(5px);
    background-color: var(--active-tab-background-color);
    z-index: -1;
}


.tab-content{
    position: relative;
    height: 94vh;
    width: 100%;
    /* background-color: red; */
}
